/* =Clearfix
/*---------------------------------------------*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/* For IE 6/7 only */
.cf {
    *zoom: 1;
}


/* =HTML
/* -------------------------------------------------------------- */

body {
  font-size: 1em;
  line-height: 1.4em;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

#page {
  width: 90%;
  margin: 0 5%;
}

menu, ul, ol {
  list-style: none;
  padding: 0;
}